langchain
openai
flask
sentence-transformers
pypdf
python-dotenv
langchain-pinecone
langchain-openai           #openai
langchain-huggingface
langchain-community
google-generativeai
langchain-google-genai      # Gemini
google-genai
langchain.document_loaders
langchain-community-pypdf
-e .